<div class="side-container" [@slideAnimation] = "detailsState">
  <div class="arrows" (click) = "toggleDetails($event)">
    <i class="fa fa-angle-left custom"></i>
    <i class="fa fa-angle-right custom"></i>
  </div>
  <span class="album-id">{{album.albumDetails?.album_id}}</span>
  <div class="album-details">
    <h3>Selected album details:</h3>
  </div>
  <div class="album-name">
    {{album.albumDetails?.album_name}}
  </div>
  <div class="album-artist">
    {{album.albumDetails?.album_artist}}
  </div>
  <div class="album-image">
    <div class="album-image-content">
      <div class="album-background-image">
        <img src="{{album.albumDetails?.album_image}}" />
      </div>
    </div>
    <div class="song-list">
      <ol>
        <li *ngFor="let song of album.playlistDetails; let i=index">
          {{song.song_name}}
        </li>
      </ol>
    </div>
  </div>
</div>
