@import "../../sass/base/_colors.scss";

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .modal-container {
    border: 2px solid $border;
    border-radius: 5%;

    div{
      margin: 5%;
    }
  }
}
