<div class="main-container">
  <div class="modal-container">
    <div class="user-email">
      <span>Email:</span>
      <input type="email" [(ngModel)]="userEmail" />
    </div>
    <div class="user-password">
      <span>Password:</span>
      <input type="password" [(ngModel)]="userPassword" />
    </div>
    <div class="button">
      <button (click)="login()">Login</button>
    </div>
    <!-- NOTE: just for testing -->
    <div class="button">
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</div>
