@import "../../sass/base/_colors.scss";

header {
  border-bottom: 1px solid $border;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    flex-basis: 42%;

    img {
      height: 6vh;
      width: 6vh;
    }
  }

  .header {
    flex-basis: 58%;
  }
}
