html {
  height: 100%;

  body {
    position: relative;
    overflow-x: hidden;

    .main-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .cdk-overlay-container {
      position: absolute;
      top: 20%;
      width: 100%;
      z-index: 10;

      :nth-child(2) > div {
        margin: auto;
        background-color: #ffffff;
      }
    }

    .hover,
    i:hover {
      cursor: pointer;
    }
  }
}
