@import "../../sass/base/_colors.scss";

.player-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5%;
  padding: 0.5%;
  border: 2px solid $border;
  background-color: $background;
  border-radius: 1%;
  height: 7%;

  .album-details {
    display: flex;
    align-items: center;
    width: 70%;

    div {
      width: 33.33%;
    }

    .album-image {
      width: auto;
      object-fit: cover;

      img {
        width: 25%;
      }
    }
  }

  .player-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
  }
}
