@import "../../sass/base/_colors.scss";

.player-container {
  display: flex;
  justify-content: space-between;
  margin: 0.5%;
  padding: 0.5%;
  border: 2px solid $background;
  background-color: $background;
  border-radius: 1%;

  .album-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;

    .album-image {

      img {
        width: 25%;        
      }
    }
  }
}
