<div class="dialog-container">
  <h3 mat-dialog-title>{{title}}</h3>

  <div mat-dialog-content>
    <h5>{{content}}</h5>
    <div class="form-container">
      <div class="dialog-name-container">
        <div>
          <span>Album name: </span>
        </div>
        <div>
          <input type="text" />
        </div>
      </div>
      <div class="dialog-artist-container">
        <div>
          <span>Album artist: </span>
        </div>
        <div>
          <input type="text" />
        </div>
      </div>
      <div class="dialog-image-container">
        <div>
          <span>Album image link: </span>
        </div>
        <div>
          <input type="text" />
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button (click)="dialogRef.close(true)">
      Confirm
    </button>
    <button mat-button (click)="dialogRef.close()">
      Cancel
    </button>
  </div>
</div>
