.dialog-container {
  .form-container {
    > div {
      margin-bottom: 1vw;
      display: flex;
      justify-content: space-between;

      > div {
        width: 50%;

        > input {
          width: 100%;
        }
      }
    }
  }
}
