<div class="user">
  <div class="back" [hidden]="!userToShow.user_email" (click)="ngOnInit()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </div>
  <h3 [hidden]="!userToShow.user_email"><span>{{userToShow.user_email}}</span><span>'s albums</span></h3>
</div>
<div class="main-container">
  <div class="album" *ngFor="let album of albums; let i=index">
    <span class="album-id">{{album.album_id}}</span>
    <span class="user-id">{{album.user_id}}</span>
    <div class="album-name">
      {{album.album_name}}
    </div>
    <div class="album-artist">
      {{album.album_artist}}
    </div>
    <div class="album-image">
      <div class="album-image-content">
        <div class="buttons">
          <div class="button-play" (click)="loadAlbum(album, 'play')">
            <i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>
          </div>
          <div class="button-info" (click)="loadAlbum(album, 'info')">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </div>
          <div class="button-remove" (click)="loadAlbum(album, 'remove')">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </div>
          <div class="button-edit" (click)="loadAlbum(album, 'edit')">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="album-background-image">
          <img src="{{album.album_image}}" />
        </div>
      </div>
    </div>
  </div>
</div>
