<div class="main-container">
  <div class="album" *ngFor="let album of albums; let i=index">
    <span class="album-id">{{album.album_id}}</span>
    <div class="album-name">
      {{album.album_name}}
    </div>
    <div class="album-artist">
      {{album.album_artist}}
    </div>
    <div class="album-image">
      <div class="album-image-content">
        <div class="buttons">
          <div class="button-play" (click)="loadAlbum(album, 'play')">
            <i class="fa fa-play-circle fa-lg" aria-hidden="true"></i>
          </div>
          <div class="button-info" (click)="loadAlbum(album, 'info')">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
          </div>
          <!-- TODO: add delete and edit buttons  -->
        </div>
        <div class="album-background-image">
          <img src="{{album.album_image}}" />
        </div>
      </div>
    </div>
  </div>
</div>
