@import "../../sass/base/_colors.scss";

.user{
  text-align: center;
}

.main-container {
  align-items: baseline;
  flex-flow: row wrap;

  .album {
    margin: 2%;
    padding: 1%;
    flex-basis: 12%;

    .album-id, .user-id {
      display: none;
    }

    .album-name {
      font-weight: bold;
    }

    .album-image {
      border: 2px solid $border;
      border-radius: 5%;
      display: flex;
      justify-content: center;

      .album-image-content {
        position: relative;

        .buttons {
          display: flex;
          justify-content: space-between;
          z-index: 1;
          position: absolute;
          left: 0;
          right: 0;
          height: 100%;
          flex-wrap: wrap;

          .button-edit,
          .button-info,
          .button-play,
          .button-remove {
            display: flex;
            flex-direction: column;
            padding: 4%;
            flex: 40%;
          }

          .button-play {
            text-align: left;
          }

          .button-info {
            text-align: right;
          }

          .button-remove {
            text-align: left;
            align-self: flex-end;
          }

          .button-edit {
            text-align: right;
            align-self: flex-end;
          }
        }
      }

      .album-image-content .album-background-image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    > div {
      margin: 1%;
    }
  }
}
