@import "../../sass/base/_colors.scss";

.main-container {
  align-items: baseline;
  flex-flow: row wrap;

  .album {
    margin: 2%;
    padding: 1%;
    flex-basis: 12%;

    .album-id {
      display: none;
    }

    .album-name {
      font-weight: bold;
    }

    .album-image {
      border: 2px solid $border;
      border-radius: 5%;
      display: flex;
      justify-content: center;

      .album-image-content {
        position: relative;

        .buttons {
          display: flex;
          justify-content: space-between;
          z-index: 1;
          position: absolute;
          left: 0;
          right: 0;

          .button-info,
          .button-play {
            width: max-content;
            padding: 4%;
          }
        }
      }

      .album-image-content .album-background-image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    > div {
      margin: 1%;
    }
  }
}
